

// ------------------------------------------------------------------
// Red
// ------------------------------------------------------------------

&.red {
    color: white;
    background-color: $red;

    h2 {
        color: white;
        border-bottom-color: currentColor;

        &::before {
            background-color: white;
        }
    }

    &::after {
        color: $red;
        background-color: white;
    }
}
