.link {
    position: relative;

    padding-left: 1.2em;
}

.link::before {
    position: absolute;
    top: 0.2em;
    left: -0.1em;

    display: inline-block;

    width: 1.3em;
    height: 1.11em;
    padding-right: 0.3em;

    content: '';
    text-decoration: none;

    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
}

.link-github::before {
    background-image: url('../images/github-logo.svg');
}

.link-codepen::before {
    background-image: url('../images/codepen-logo.svg');
}
