.red-title {
    position: relative;

    height: auto;
    padding-top: $height - 350px;
    padding-left: 0;

    border: none;

    font-size: 2.5em;
    line-height: 100%;

    &::before {
        display: none;
    }
}
