

// ------------------------------------------------------------------
// Shout Full
// ------------------------------------------------------------------

.shout {
    &.grow,
    &.shrink {
        transition: 0.4s ease-out;
        transition-property: opacity, transform;

        opacity: 0;
    }

    &.grow {
        transform: scale(0.1) translateY(-50%);
    }

    &.shrink {
        transform: scale(10) translateY(-50%);
    }
}

// Animation Trigger

&.active .shout {
    &.grow,
    &.shrink {
        transform: scale(1) translateY(-50%);

        opacity: 1;
    }
}
